@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Base for label styling */
[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px; }

[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
  position: relative;
  padding-left: 3em;
  padding-top: .5em;
  cursor: pointer; }

/* radio aspect */
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 2em;
  height: 2em;
  border: 2px solid #ccc;
  border: 2px solid white;
  border-radius: 8em; }

/* checked mark aspect */
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: .4em;
  left: .5em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s; }

/* checked mark aspect changes */
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0); }

[type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1); }

@font-face {
  font-family: 'Komikax';
  src: url("../font/KOMIKAX.woff") format("woff"); }
body,
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: white; }

.bg {
  background: url(../img/bg.png);
  background-size: cover;
  background-position: center left;
  height: 100vh;
  width: 100%; }

h1 {
  font-family: 'Komikax', Fallback, sans-serif;
  font-size: 2em;
  line-height: 1.3em;
  margin-top: 150px; }

.container {
  width: 960px;
  margin: 0 auto; }
  .container .logo {
    height: 100px;
    float: right;
    margin-top: 100px; }
  .container .header {
    margin-top: 100px;
    width: 100%; }
  .container .column {
    width: 50%;
    float: left;
    height: 100vh; }
    .container .column.quiz {
      width: 40%;
      float: right; }
    .container .column h2 {
      margin-top: 30px;
      font-weight: 700; }
  .container .button {
    background: #cd0103;
    padding: 10px 30px;
    border-radius: 60px;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-top: 30px;
    transition: all 250ms ease-in-out; }
    .container .button i {
      color: #ffd600; }
    .container .button:hover {
      background: white;
      color: #cd0103;
      padding-right: 35px; }
      .container .button:hover i {
        color: #cd0103; }
    .container .button.-alt {
      background: #328400; }
      .container .button.-alt:hover {
        background: white; }

.clear {
  clear: both; }

.hide {
  display: none; }

.question {
  display: block;
  margin-top: 2em; }

.result .score {
  font-size: 6em;
  color: #fffc00;
  font-family: 'Komikax', Fallback, sans-serif; }
.result .caption {
  padding: 1em 0;
  color: #cd0103; }
.result .social {
  font-size: 1.5em;
  padding: .5em .75em;
  border-radius: 2em;
  color: white;
  display: inline-block;
  margin-top: 1em; }
  .result .social.facebook {
    background: #3a589b;
    padding: .5em .9em; }
  .result .social.twitter {
    background: #2aa8df; }

/*# sourceMappingURL=main.css.map */
