/* Base for label styling */

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
	position: absolute;
	left: -9999px;
}

[type="checkbox"]:not(:checked)+label,
[type="checkbox"]:checked+label {
	position: relative;
	padding-left: 3em;
	padding-top: .5em;
	cursor: pointer;
}


/* checkbox aspect */

[type="checkbox"]:not(:checked)+label:before,
[type="checkbox"]:checked+label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 2em;
	height: 2em;
	border: 2px solid #ccc;
	border: 2px solid white;
	border-radius: 8em;
}


/* checked mark aspect */

[type="checkbox"]:not(:checked)+label:after,
[type="checkbox"]:checked+label:after {
	content: '✔';
	position: absolute;
	top: .4em;
	left: .5em;
	font-size: 1.3em;
	line-height: 0.8;
	color: #09ad7e;
	transition: all .2s;
}


/* checked mark aspect changes */

[type="checkbox"]:not(:checked)+label:after {
	opacity: 0;
	transform: scale(0);
}

[type="checkbox"]:checked+label:after {
	opacity: 1;
	transform: scale(1);
}
