// External SCSS files
@import "reset";
@import "query";
@import "checkbox";
// Main styles for Purit
@font-face {
	font-family: 'Komikax';
	src: url('../font/KOMIKAX.woff') format('woff');
}

body,
html {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color: white;
}

.bg {
	background: url(../img/bg.png);
	background-size: cover;
	background-position: center left;
	height: 100vh;
	width: 100%;
}

h1 {
	font-family: 'Komikax', Fallback, sans-serif;
	font-size: 2em;
	line-height: 1.3em;
	margin-top: 150px;
}

.container {
	width: 960px;
	margin: 0 auto;
	.logo {
		height: 100px;
		float: right;
		margin-top: 100px;
	}
	.header {
		margin-top: 100px;
		width: 100%;
	}
	.column {
		width: 50%;
		float: left;
		height: 100vh;
		//background: blue;
		&.quiz {
			width: 40%;
			float: right;
		}
		h2 {
			margin-top: 30px;
			font-weight: 700;
		}
	}
	.button {
		background: #cd0103;
		padding: 10px 30px;
		border-radius: 60px;
		text-decoration: none;
		color: white;
		display: inline-block;
		margin-top: 30px;
		transition: all 250ms ease-in-out;
		i {
			color: #ffd600;
		}
		&:hover {
			background: white;
			color: #cd0103;
			padding-right: 35px;
			i {
				color: #cd0103;
			}
		}
		&.-alt {
			background: #328400;
			&:hover {
				background: white;
			}
		}
	}
}

.clear {
	clear: both;
}

.hide {
	display: none;
}

.question {
	display: block;
	margin-top: 2em;
}

.result {
	.score {
		font-size: 6em;
		color: #fffc00;
		font-family: 'Komikax', Fallback, sans-serif;
	}
	.caption {
		padding: 1em 0;
		color: #cd0103;
	}
	.social {
		font-size: 1.5em;
		padding: .5em .75em;
		border-radius: 2em;
		color: white;
		display: inline-block;
		margin-top: 1em;
		&.facebook {
			background: #3a589b;
			padding: .5em .9em;
		}
		&.twitter {
			background: #2aa8df;
		}
	}
}
