<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Purit - How Clean are You?</title>
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/sweetalert.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <script src="https://use.fontawesome.com/2ac3777736.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>


<body>

    <div id="fb-root"></div>

    <script type="text/javascript">
        (function() {
            var e = document.createElement('script');
            // replacing with an older version until FB fixes the cancel-login bug
            e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
            //e.src = 'scripts/all.js';
            e.async = true;
            document.getElementById('fb-root').appendChild(e);
        }());
    </script>

    <section class="bg" ng-app="purit" ng-controller="puritController">
        <div class="container">
            <div class="column">
                <img src="img/purit-logo.png" alt="" class="logo">
            </div>
            
            <form name="questionaire">
                <div class="column quiz">
                    <div class="questions">
                        <ng-include src="getQuestionTemplate()"></ng-include>
                        <div class="clear"></div>

                        <div ng-if="! landingPage()">
                            
                            <div ng-if="! resultPage()">
                                <a href="#" class="button -alt" ng-if="! firstQuestion()" ng-click="gotoPreviousQuestion()"><i class="fa fa-chevron-left"></i> &nbsp;Prev</a>
                                <a href="#" class="button" ng-if="! lastQuestion()" ng-click="gotoNextQuestion()">Next &nbsp; <i class="fa fa-chevron-right"></i></a>
                                <a href="#" class="button" ng-if="lastQuestion()" ng-click="submit()">Finish &nbsp; <i class="fa fa-chevron-right"></i></a>
                            </div>

                        </div>

                    </div>
                </div>
            </form>

        </div>
    </section>

    <script src="angular-1.4.4/angular.js"></script>
    <script src="js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="js/sweetalert.min.js" type="text/javascript"></script>

	<script src="app.js"></script>

</body>
</html>