<!-- This is the landing div to begin the quiz -->
<div>
    <img src="img/header.png" alt="" class="header">
    <h2>Ever wonder how clean you are?</h2>
    <p>Take a quick survey to find out.</p>
    <div class="clear"></div>

    <a ng-click="startQuestion()" class="button">Begin &nbsp; <i class="fa fa-chevron-right"></i></a>

</div>
