<h1>Which of these is the most likely to harbour the most germs and bacteria?</h1>

<p class="question">
    <input type="radio" id="1" ng-model="questionForm.question_10" name="question_10" ng-value="1" />
    <label for="1">Ear</label>
</p>
<p class="question">
    <input type="radio" id="2" ng-model="questionForm.question_10" name="question_10" ng-value="2" />
    <label for="2">Nose</label>
</p>
<p class="question">
    <input type="radio" id="3" ng-model="questionForm.question_10" name="question_10" ng-value="3" />
    <label for="3">Armpit</label>
</p>
<p class="question">
    <input type="radio" id="4" ng-model="questionForm.question_10" name="question_10" ng-value="4" />
    <label for="4">Navel</label>
</p>
