<h1>All of these are the easiest to contract germs from except</h1>

<p class="question">
    <input type="radio" id="1" ng-model="questionForm.question_11" name="question_11" ng-value="1" />
    <label for="1">Elevator keys</label>
</p>
<p class="question">
    <input type="radio" id="2" ng-model="questionForm.question_11" name="question_11" ng-value="2" />
    <label for="2">Door handles</label>
</p>
<p class="question">
    <input type="radio" id="3" ng-model="questionForm.question_11" name="question_11" ng-value="3" />
    <label for="3">Light swiches </label>
</p>
<p class="question">
    <input type="radio" id="4" ng-model="questionForm.question_11" name="question_11" ng-value="4" />
    <label for="4">All of them </label>
</p>