<h1>When do you change your underwear?</h1>

<p class="question">
    <input type="radio" id="1" ng-model="questionForm.question_12" name="question_12" ng-value="1" />
    <label for="1">After every shower</label>
</p>
<p class="question">
    <input type="radio" id="2" ng-model="questionForm.question_12" name="question_12" ng-value="2" />
    <label for="2">Every morning</label>
</p>
<p class="question">
    <input type="radio" id="3" ng-model="questionForm.question_12" name="question_12" ng-value="3" />
    <label for="3">Once in 2 days </label>
</p>
<p class="question">
    <input type="radio" id="4" ng-model="questionForm.question_12" name="question_12" ng-value="4" />
    <label for="4">Twice a day </label>
</p>