<h1>How often do you clean your room?</h1>

<p class="question">
    <input type="radio" id="1" ng-model="questionForm.question_13" name="question_13" ng-value="1" />
    <label for="1">Once a month</label>
</p>
<p class="question">
    <input type="radio" id="2" ng-model="questionForm.question_13" name="question_13" ng-value="2" />
    <label for="2">Every week</label>
</p>
<p class="question">
    <input type="radio" id="3" ng-model="questionForm.question_13" name="question_13" ng-value="3" />
    <label for="3">Every 2 weeks </label>
</p>
<p class="question">
    <input type="radio" id="4" ng-model="questionForm.question_13" name="question_13" ng-value="4" />
    <label for="4">When I feel like it </label>
</p>