<h1>When do you change the sheets on your bed?</h1>

<p class="question">
    <input type="radio" id="1" ng-model="questionForm.question_14" name="question_14" ng-value="1" />
    <label for="1">Once a year</label>
</p>
<p class="question">
    <input type="radio" id="2" ng-model="questionForm.question_14" name="question_14" ng-value="2" />
    <label for="2">Once a week</label>
</p>
<p class="question">
    <input type="radio" id="3" ng-model="questionForm.question_14" name="question_14" ng-value="3" />
    <label for="3">Once a month </label>
</p>
<p class="question">
    <input type="radio" id="4" ng-model="questionForm.question_14" name="question_14" ng-value="4" />
    <label for="4">Once in 2 weeks. </label>
</p>