<h1>How often is a bath necessary in your daily life?</h1>

<p class="question">
    <input type="radio" id="1" ng-model="questionForm.question_15" name="question_15" ng-value="1" />
    <label for="1">As long as I’m sweaty</label>
</p>
<p class="question">
    <input type="radio" id="2" ng-model="questionForm.question_15" name="question_15" ng-value="2" />
    <label for="2">Once</label>
</p>
<p class="question">
    <input type="radio" id="3" ng-model="questionForm.question_15" name="question_15" ng-value="3" />
    <label for="3">Twice </label>
</p>
<p class="question">
    <input type="radio" id="4" ng-model="questionForm.question_15" name="question_15" ng-value="4" />
    <label for="4">Not concerned </label>
</p>
