<h1>You’ve been doing a lot of hard physical work all day and you don’t smell so fresh. Do you change when you get in?</h1>

<p class="question">
    <input type="radio" id="1" ng-model="questionForm.question_16" name="question_16" 
    	   ng-value="1" />
    <label for="1">No, just  because my clothes smell a bit doesn’t mean they need washing</label>
</p>
<p class="question">
    <input type="radio" id="2" ng-model="questionForm.question_16" name="question_16" ng-value="2" />
    <label for="2">Yes, definitely</label>
</p>
<p class="question">
    <input type="radio" id="3" ng-model="questionForm.question_16" name="question_16" ng-value="3" />
    <label for="3">Nahh, they can still last a few days. </label>
</p>
