<h1>How often do you change your socks?</h1>

<p class="question">
    <input type="radio" id="1" ng-model="questionForm.question_17" name="question_17" ng-value="1" />
    <label for="1">Everyday, of course</label>
</p>
<p class="question">
    <input type="radio" id="2" ng-model="questionForm.question_17" name="question_17" ng-value="2" />
    <label for="2">I wear my socks for a week</label>
</p>
<p class="question">
    <input type="radio" id="3" ng-model="questionForm.question_17" name="question_17" ng-value="3" />
    <label for="3">I go for more than a week with a pair. </label>
</p>