<h1>Do you use deodorants?</h1>

<p class="question">
    <input type="radio" id="1" ng-model="questionForm.question_18" name="question_18" ng-value="1" />
    <label for="1">No, I don’t need to</label>
</p>
<p class="question">
    <input type="radio" id="2" ng-model="questionForm.question_18" name="question_18" ng-value="2" />
    <label for="2">Yes! They keep me smelling fresh</label>
</p>
<p class="question">
    <input type="radio" id="3" ng-model="questionForm.question_18" name="question_18" ng-value="3" />
    <label for="3">I only use them occasionally when I smell bad. </label>
</p>
<p class="question">
    <input type="radio" id="4" ng-model="questionForm.question_18" name="question_18" ng-value="4" />
    <label for="4">Only when I have to impress someone. </label>
</p>