<h1>How often do you wash your hair?</h1>

<p class="question">
    <input type="radio" id="1" ng-model="questionForm.question_19" name="question_19" ng-value="1" />
    <label for="1">Not often</label>
</p>
<p class="question">
    <input type="radio" id="2" ng-model="questionForm.question_19" name="question_19" ng-value="2" />
    <label for="2">Every few days</label>
</p>
<p class="question">
    <input type="radio" id="3" ng-model="questionForm.question_19" name="question_19" ng-value="3" />
    <label for="3">Every 2 weeks. </label>
</p>