<h1>Do you sanitize your hands after touching public places like ATMs, Railings of stairs?</h1>

<p class="question">
    <input type="radio" id="1" ng-model="questionForm.question_2" name="question_2" ng-value="1" />
    <label for="1">Yes I do</label>
</p>
<p class="question">
    <input type="radio" id="2" ng-model="questionForm.question_2" name="question_2" ng-value="2" />
    <label for="2">No I don’t</label>
</p>
<p class="question">
    <input type="radio" id="3" ng-model="questionForm.question_2" name="question_2" ng-value="3" />
    <label for="3">Sometimes</label>
</p>
<p class="question">
    <input type="radio" id="4" ng-model="questionForm.question_2" name="question_2" ng-value="4" />
    <label for="4">I Wait till I see a place I can wash up properly</label>
</p>