<h1>How many times do you brush your teeth?</h1>

<p class="question">
    <input type="radio" id="1" ng-model="questionForm.question_20" name="question_20" ng-value="1" />
    <label for="1">Every morning and night</label>
</p>
<p class="question">
    <input type="radio" id="2" ng-model="questionForm.question_20" name="question_20" ng-value="2" />
    <label for="2">Every morning</label>
</p>
<p class="question">
    <input type="radio" id="3" ng-model="questionForm.question_20" name="question_20" ng-value="3" />
    <label for="3">I only use mouthwash and I’m good </label>
</p>