<h1>Your mum taught you to wash your hands frequently. How often do you follow that advice?</h1>

<p class="question">
    <input type="radio" id="1" ng-model="questionForm.question_21" name="question_21" ng-value="1" />
    <label for="1">Only before I eat</label>
</p>
<p class="question">
    <input type="radio" id="2" ng-model="questionForm.question_21" name="question_21" ng-value="2" />
    <label for="2">I wash up as many times s I can</label>
</p>
<p class="question">
    <input type="radio" id="3" ng-model="questionForm.question_21" name="question_21" ng-value="3" />
    <label for="3">Only after using a public restroom </label>
</p>
<p class="question">
    <input type="radio" id="4" ng-model="questionForm.question_21" name="question_21" ng-value="4" />
    <label for="4">When I deem it fit to </label>
</p>