<h1>How many times do you wash your face with soap?</h1>

<p class="question">
    <input type="radio" id="1" ng-model="questionForm.question_22" name="question_22" ng-value="1" />
    <label for="1">Every morning and night </label>
</p>
<p class="question">
    <input type="radio" id="2" ng-model="questionForm.question_22" name="question_22" ng-value="2" />
    <label for="2">Only in the mornings</label>
</p>
<p class="question">
    <input type="radio" id="3" ng-model="questionForm.question_22" name="question_22" ng-value="3" />
    <label for="3">Only if I wear makeup</label>
</p>