<h1>Using antiseptics to clean your home does not reduce the rate of illness</h1>

<p class="question">
    <input type="radio" id="1" ng-model="questionForm.question_23" name="question_23" ng-value="1" />
    <label for="1">Yes, it does </label>
</p>
<p class="question">
    <input type="radio" id="2" ng-model="questionForm.question_23" name="question_23" ng-value="2" />
    <label for="2">No, it doesn’t</label>
</p>
<p class="question">
    <input type="radio" id="3" ng-model="questionForm.question_23" name="question_23" ng-value="3" />
    <label for="3">Not sure</label>
</p>
<p class="question">
    <input type="radio" id="4" ng-model="questionForm.question_23" name="question_23" ng-value="4" />
    <label for="4">Who cares?</label>
</p>