<h1>Dusting your home is very important. How often do you dust your home</h1>

<p class="question">
    <input type="radio" id="1" ng-model="questionForm.question_24" name="question_24" ng-value="1" />
    <label for="1">Once a week </label>
</p>
<p class="question">
    <input type="radio" id="2" ng-model="questionForm.question_24" name="question_24" ng-value="2" />
    <label for="2">Twice a week </label>
</p>
<p class="question">
    <input type="radio" id="3" ng-model="questionForm.question_24" name="question_24" ng-value="3" />
    <label for="3">Only when it looks dirty</label>
</p>