<h1>How often do you change your tooth brush?</h1>

<p class="question">
    <input type="radio" id="1" ng-model="questionForm.question_25" name="question_25" ng-value="1" />
    <label for="1">When the brush looks worn out </label>
</p>
<p class="question">
    <input type="radio" id="2" ng-model="questionForm.question_25" name="question_25" ng-value="2" />
    <label for="2">Once every 3 months </label>
</p>
<p class="question">
    <input type="radio" id="3" ng-model="questionForm.question_25" name="question_25" ng-value="3" />
    <label for="3">I don’t use a toothbrush</label>
</p>
<p class="question">
    <input type="radio" id="4" ng-model="questionForm.question_25" name="question_25" ng-value="4" />
    <label for="4">Once a week</label>
</p>