<h1>How often do you clean your kitchen?</h1>

<p class="question">
    <input type="radio" id="1" ng-model="questionForm.question_26" name="question_26" ng-value="1" />
    <label for="1">Everyday </label>
</p>
<p class="question">
    <input type="radio" id="2" ng-model="questionForm.question_26" name="question_26" ng-value="2" />
    <label for="2">Twice a week </label>
</p>
<p class="question">
    <input type="radio" id="3" ng-model="questionForm.question_26" name="question_26" ng-value="3" />
    <label for="3">When it looks dirty to me</label>
</p>
<p class="question">
    <input type="radio" id="4" ng-model="questionForm.question_26" name="question_26" ng-value="4" />
    <label for="4">I barely use my kitchen</label>
</p>