<h1>What is the first thing you do when you enter a food canteen?</h1>

<p class="question">
    <input type="radio" id="1" ng-model="questionForm.question_27" name="question_27" ng-value="1" />
    <label for="1">Food first! </label>
</p>
<p class="question">
    <input type="radio" id="2" ng-model="questionForm.question_27" name="question_27" ng-value="2" />
    <label for="2">Wash hands first  </label>
</p>
<p class="question">
    <input type="radio" id="3" ng-model="questionForm.question_27" name="question_27" ng-value="3" />
    <label for="3">Get a place to sit</label>
</p>
<p class="question">
    <input type="radio" id="4" ng-model="questionForm.question_27" name="question_27" ng-value="4" />
    <label for="4">I don’t eat out</label>
</p>