<h1>When do you clean out your ears?</h1>

<p class="question">
    <input type="radio" id="1" ng-model="questionForm.question_28" name="question_28" ng-value="1" />
    <label for="1">Everyday </label>
</p>
<p class="question">
    <input type="radio" id="2" ng-model="questionForm.question_28" name="question_28" ng-value="2" />
    <label for="2">Once in 3 days </label>
</p>
<p class="question">
    <input type="radio" id="3" ng-model="questionForm.question_28" name="question_28" ng-value="3" />
    <label for="3">Once every 2 weeks</label>
</p>
<p class="question">
    <input type="radio" id="4" ng-model="questionForm.question_28" name="question_28" ng-value="4" />
    <label for="4">Monthly</label>
</p>