<h1>In this digital age most of us handle laptops daily, how often do you wipe down your laptop?</h1>

<p class="question">
    <input type="radio" id="1" ng-model="questionForm.question_29" name="question_29" ng-value="1" />
    <label for="1">Every time you turn it on </label>
</p>
<p class="question">
    <input type="radio" id="2" ng-model="questionForm.question_29" name="question_29" ng-value="2" />
    <label for="2">I only wipe the screen when it looks dirty  </label>
</p>
<p class="question">
    <input type="radio" id="3" ng-model="questionForm.question_29" name="question_29" ng-value="3" />
    <label for="3">Occasionally</label>
</p>
<p class="question">
    <input type="radio" id="4" ng-model="questionForm.question_29" name="question_29" ng-value="4" />
    <label for="4">Once a week.</label>
</p>