<h1>When you visit the toilet, do you disinfect after?</h1>

<p class="question">
    <input type="radio" id="1" ng-model="questionForm.question_3" name="question_3" ng-value="1" />
    <label for="1">Yes</label>
</p>
<p class="question">
    <input type="radio" id="2" ng-model="questionForm.question_3" name="question_3" ng-value="2" />
    <label for="2">No</label>
</p>
<p class="question">
    <input type="radio" id="3" ng-model="questionForm.question_3" name="question_3" ng-value="3" />
    <label for="3">Sometimes</label>
</p>