<h1>Picking your nose is normal but some people think it’s unhygienic. What do you think?</h1>

<p class="question">
    <input type="radio" id="1" ng-model="questionForm.question_30" name="question_30" ng-value="1" />
    <label for="1">I don’t mind. I only do in private </label>
</p>
<p class="question">
    <input type="radio" id="2" ng-model="questionForm.question_30" name="question_30" ng-value="2" />
    <label for="2">I don’t care; if I have to, I do it wherever</label>
</p>
<p class="question">
    <input type="radio" id="3" ng-model="questionForm.question_30" name="question_30" ng-value="3" />
    <label for="3">Ewww, I think it’s disgusting.</label>
</p>