<h1>What disinfectant do you use?</h1>

<p class="question">
    <input type="radio" id="1" ng-model="questionForm.question_4" name="question_4" ng-value="1" />
    <label for="1">Purit</label>
</p>
<p class="question">
    <input type="radio" id="2" ng-model="questionForm.question_4" name="question_4" ng-value="2" />
    <label for="2">Others</label>
</p>