<h1>When mopping your floors at home, what do you use?</h1>

<p class="question">
    <input type="radio" id="1" ng-model="questionForm.question_5" name="question_5" ng-value="1" />
    <label for="1">Water & detergent</label>
</p>
<p class="question">
    <input type="radio" id="2" ng-model="questionForm.question_5" name="question_5" ng-value="2" />
    <label for="2">Water, detergent & Purit</label>
</p>
<p class="question">
    <input type="radio" id="3" ng-model="questionForm.question_5" name="question_5" ng-value="3" />
    <label for="3">Water alone</label>
</p>
<p class="question">
    <input type="radio" id="4" ng-model="questionForm.question_5" name="question_5" ng-value="4" />
    <label for="4">Cleaning Agents</label>
</p>