<h1>YOU ARE</h1>
<p class="score">{{ result }} %</p>
<h1 style="margin-top:20px;">CLEAN</h1>
<p class="caption">{{ caption }}</p>


<div class="social facebook" ng-click="postToFacebook()">
	<i class="fa fa-facebook"></i>
</div>

<a class="social twitter" ng-click="postToTwitter()"><i class="fa fa-twitter"></i></a>

<h2>Share your score with friends</h2>
