<h1>Which is better? </h1>

<p class="question">
    <input type="radio" id="1" ng-model="questionForm.question_6" name="question_6" ng-value="1" />
    <label for="1">Antiseptic</label>
</p>
<p class="question">
    <input type="radio" id="2" ng-model="questionForm.question_6" name="question_6" ng-value="2" />
    <label for="2">Disinfectant</label>
</p>
<p class="question">
    <input type="radio" id="3" ng-model="questionForm.question_6" name="question_6" ng-value="3" />
    <label for="3">Sanitizer</label>
</p>
<p class="question">
    <input type="radio" id="4" ng-model="questionForm.question_6" name="question_6" ng-value="4" />
    <label for="4">All of the above</label>
</p>