<h1>When cleaning your house, do you wipe down door handles, balcony railings or cupboard handles? </h1>

<p class="question">
    <input type="radio" id="1" ng-model="questionForm.question_7" name="question_7" ng-value="1" />
    <label for="1">Yes</label>
</p>
<p class="question">
    <input type="radio" id="2" ng-model="questionForm.question_7" name="question_7" ng-value="2" />
    <label for="2">No</label>
</p>