<h1>When you mistakenly drop what you’re eating, what do you do? </h1>

<p class="question">
    <input type="radio" id="1" ng-model="questionForm.question_8" name="question_8" ng-value="1" />
    <label for="1">10 seconds rule applies</label>
</p>
<p class="question">
    <input type="radio" id="2" ng-model="questionForm.question_8" name="question_8" ng-value="2" />
    <label for="2">Throw it away, devil has eaten it</label>
</p>
<p class="question">
    <input type="radio" id="3" ng-model="questionForm.question_8" name="question_8" ng-value="3" />
    <label for="3">Dust it and eat it</label>
</p>
<p class="question">
    <input type="radio" id="4" ng-model="questionForm.question_8" name="question_8" ng-value="4" />
    <label for="4">Depends on the food</label>
</p>