<h1>Disinfectants or Antiseptics, which is better to work with?</h1>

<p class="question">
    <input type="radio" id="1" ng-model="questionForm.question_9" name="question_9" ng-value="1" />
    <label for="1">Disinfectants</label>
</p>
<p class="question">
    <input type="radio" id="2" ng-model="questionForm.question_9" name="question_9" ng-value="2" />
    <label for="2">Antiseptics</label>
</p>
<p class="question">
    <input type="radio" id="3" ng-model="questionForm.question_9" name="question_9" ng-value="3" />
    <label for="3">Purit</label>
</p>
<p class="question">
    <input type="radio" id="4" ng-model="questionForm.question_9" name="question_9" ng-value="4" />
    <label for="4">None</label>
</p>